@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  background: #c7d2fe;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 6px;
}